.card {
  padding-right: 0.5rem;
  margin-right: 0;
  margin-top: 2rem;
  @include mq(small) {
    &:not(:first-child) {
      .card__icon {
        border-top: 1px solid $light-grey;
      }
    }
  }
  @include mq(medium) {
    &:nth-child(2n-1) {
      border-right: 1px solid $light-grey;
    }
    &:not(:first-child) {
      .card__icon {
        border-top: none;
      }
    }
    &:nth-last-child(-n+4) {
      .card__icon {
        border-top: 1px solid $light-grey;
      }
    }
  }
  @include mq(large) {
    border-right: 1px solid $light-grey;
    &:nth-child(3n) { border-right: none };
    &:nth-last-child(-n+4) {
      .card__icon {
        border-top: none;
      }
    }
    &:nth-last-child(-n+3) {
      .card__icon {
        border-top: 1px solid $light-grey;
      }
    }
  }
}
h4.card__title{
  margin: 0;
}

.card__icon {
  padding-top: 1rem;
  color: $primary-color;
  width: 80%;
  margin: 0 auto;
  margin-top: -1rem;
}

.card__description {
  width: calc(100% - 1rem);
  margin: 0 auto;
}
