/**
 * Basic typography style for copy text
 */

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.875rem;
}

h1, h2, h3, h4 {
  font-family: 'Open Sans';
  margin: 0 0 1rem 0;
  color: $title-color;
}

button {
  font-family: 'Open Sans';
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.9375rem;
}

body {
  color: $text-color;
  font: normal 125% / 1.4 $text-font-stack;
}

p {
  font-family: $text-font-stack;
  font-size: 1rem;
}
